sudo: false

language: node_js
node_js:
  - "8"
  - "10"
  - "12"

os:
  - linux
  - osx

env:
  matrix:
    - ELM_VERSION=0.19.0-no-deps

before_install:
  - rm -rf ~/.elm

install:
  - node --version
  - npm --version
  - npm install -g elm@$ELM_VERSION
  - npm install

script:
  - npm test
